/bin/
.idea
*.iws
*.iml
*.ipr
/target/
logs
plugin/alarm-plugin/src/test/
plugin/alarm-plugin/target/generated-sources/
plugin/plugin-api/src/main/resources/
plugin/plugin-api/target/generated-sources/
/logs/
*.log

/DebugConfig/
/Listings/
/Objects/
*.scvd
*.uvoptx
*.uvguix.*